<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Email: {{email}}</p>
    <p>Message</p>
    <ul>
        {% for i in message %}
        <li>i.client</li>
        <li>i.status</li>
        <li>i.created_at</li>
        <li>i.distribution</li>
        {% endfor %}
    </ul>
</body>
</html>